/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
Thumbs.db
/nbproject/
nbproject/private/private.properties
nbproject/project.xml
nbproject/project.properties
nbproject/private/private.xml
.vs/skep/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
/uploads
