/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
Thumbs.db
/nbproject/
nbproject/private/private.properties
nbproject/project.xml
nbproject/project.properties
nbproject/private/private.xml
